<p><%= @resource.email %>用户您好!</p>

<p>您正在使用TBS管理系统的修改密码功能，您可以点击下面的链接进行修改，如果不是您的操作，请忽略！</p>


<p><a href= "http://<%= site_ip %>:<%= site_port %>/admins/password/edit?reset_password_token=<%= @resource.reset_password_token %>">修改密码</a></p>
