<title>标签组详细配置</title>
<!-- BEGIN PAGE -->
<div class="page-content">	
	<div class="container-fluid">	
		<!-- BEGIN PAGE HEADER-->
		<div class="row-fluid">
			<div class="span12"> 	
				<!-- BEGIN PAGE TITLE & BREADCRUMB-->			
				<h3 class="page-title">
					<span class="main_title" id="hot">系统配置</span>
					<small>自定义需关注事件的关键词、标签、信息来源等基本配置</small>
				</h3>
				<ul class="breadcrumb">
					<li>
						<i class="icon-home"></i>
						<a href="/hots/index">系统配置</a> 
						<i class="icon-angle-right"></i>
					</li>
					<li><a href="#">标签组详细配置</a></li>
				</ul>
				<!-- END PAGE TITLE & BREADCRUMB-->
			</div>
		</div>
		<!-- END PAGE HEADER-->
		<!-- BEGIN PAGE CONTENT-->	
		<div class="row-fluid">
			<div class="span12">
				<!-- BEGIN VALIDATION STATES-->
				<div class="portlet box blue">
					<div class="portlet-title">
						<h4>
							<i class="icon-reorder"></i>
							定义标签组包含的标签-第二步
						</h4>
					</div>
					<div class="portlet-body form">

						<%= form_tag('/system_setting/label_create') do %>
							<div class="form-wizard">  
								<div class="navbar steps">
			                         <div class="navbar-inner">
			                            <ul class="row-fluid nav nav-pills">
			                               <li class="span3 done">
			                                  <a href="#" data-toggle="tab" class="step">
			                                  <span class="number">1</span>
			                                  <span class="desc"><i class="icon-ok"></i>基本配置</span>   
			                                  </a>
			                               </li>
			                               <li class="span3 active">
			                                  <a href="#" data-toggle="tab" class="step  active">
			                                  <span class="number">2</span>
			                                  <span class="desc"><i class="icon-ok"></i>标签组详细配置</span>   
			                                  </a>
			                               </li>
			                               <li class="span3">
			                                  <a href="#" data-toggle="tab" class="step">
			                                  <span class="number">3</span>
			                                  <span class="desc"><i class="icon-ok"></i>标签关键词配置</span>   
			                                  </a>
			                               </li>
			                               <li class="span3">
			                                  <a href="#" data-toggle="tab" class="step">
			                                  <span class="number">4</span>
			                                  <span class="desc"><i class="icon-ok"></i>信息来源配置</span>   
			                                  </a> 
			                               </li>
			                            </ul>
			                         </div>
			                      </div>
								<div id="bar" class="progress progress-success progress-striped">
				                        <div class="bar" style="width: 50%;"></div>
				                </div>
							<table class="table table-hover">
								<tbody>
									<% if @categories%>
									<% @categories.each do |category|%>
										<tr style='background-color:#eee'>
											<td width='150px'>标签组名：
											<%= category.str %></td>
											<td width='150px'>标签组类别：
												<% if category.by_keyword ==true %>
												按关键词
												<% else %>
												机器学习
												<% end %>
											</td>
											<td >
											</td>
										</tr>
										<tr>
											<td style='vertical-align:middle'>
												<label class="control-label">包含标签：</label>
											</td>
											<td  colspan='2' >
											    <div class="controls">
		                                          <%= text_field_tag category.getIdSymbol ,params[category.getIdSymbol] ,:class => "m-wra tags"%>
		                                        </div>
			                                    
											</td>
										</tr>
									<% end %>
									<% end %>
								</tbody>
							</table>	
							<div class="form-actions">
								<button type="submit" class="btn add_btn blue">下一步<i class="m-icon-swapright m-icon-white"></i></button>
								<button type="button" class="btn cancel_btn">取消</button>
							</div>
						</div>
						<!-- End Div Form-->
						<% end %>
						<!-- END FORM-->
					</div>
				</div>
				<!-- END VALIDATION STATES-->
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

$(function(){
	$(".add_btn").click(function(){
		var input_lines = $('.m-wra')
		for(var i in input_lines)
		{
			if(input_lines[i].value.length<1)
			{
				//alert(input_lines[i].id);
				alert("请至少输入一个标签名!");
				$("#"+input_lines[i].id).focus();
				return false;
			}
		}
	});

	$(".cancel_btn").click(function(){
		if (confirm("确认取消？")) {
        	window.location.href="/system_setting/index"; 
   		}	 
	});
	
});
	

</script>